
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  color: #434242;
  font-size: 15px;
  line-height: 1.5;
  background: #ef;
}

div {
  margin-bottom:4em;
}

h1 {
  display: inline-block;
  margin-left: 30px;
}

p {
  text-align: center;
}

.horse {
  width: 200px;
  height: 200px;
  background: url('../images/horsey.png');
  animation: run 3s steps(8) infinite, slide 4s steps(100) infinite;
  margin-left: 100%;
}

@keyframes run {
  100% {background-position: -1600px;}
}

@keyframes slide {
  100% {margin-left: -200px;}
}


.animation {
  background:#ffc0cb;
  color:#3b3a3a;
  text-transform: uppercase;
  font-size:3.5em;
  width:150px;
  height:150px;
  position:relative;
  border-radius: 50%;
  animation: bounceAround 3.0s ease-in-out infinite;
 }

@keyframes bounceAround {
  from {
    left: -50%;
  }
  to {
    left: 120%;
  }

  from {top: 50%;}
  to {top: 50%;}

  0% {transform:translateY(100%) rotate(0);}
    10% {transform:translateY(100%) rotate(0);}
  20% {transform:translateY(100%) rotate(0);}
  30% {transform:translateY(100%) rotate(0);}
  40% {transform:translateY(100%) rotate(0);}
  50% {transform: translateY(100%) rotate(0);}
 60%{transform: translateY(100%) rotate(0);}
   70%{transform: translateY(100%) rotate(0);}
   80%{transform: translateY(100%) rotate(0);}
   90%{transform: translateY(100%) rotate(0);}
   100%{transform: translateY(100%) rotate(0);}
}
